@charset "UTF-8";


/* *******             ******* 
   *******   Homepage  ******* 
   *******             ******* */

.img-ritiri-project {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
}